* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: #333;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  padding-top: 50px;
}

.container {
  background-color: #393a3a;
  margin: 0 auto;
  max-width: 580px;
  padding-top: 5px;
}

nav {
  width: 420px;
  margin: 0 auto;
}

.restaurant-list {
  background-color: #dfdfdf;
  color: #000000;
  width: 420px;
  margin: 0 auto;
}

.arrow {
  float: right;
  font-size: 75%;
  padding-right: 2%;
  width: 10%;
  padding-top: 15px;
}

.arrow-left {
  background-color: #000000;
  font-size: 75%;
  padding: 4%;
}

.content {
  display: inline-block;
  padding: 2%;
  width: 80%
}

h1 {
  font-family: sans-serif;
  font-size: 1.3em;
  font-weight: 700;
  padding-bottom: 1%;

}

.location {
  border-bottom: 0.1px solid #393a3a;
  display: block;
  padding: 2%;
}

.location:hover{
  background-color: darkgrey;
}
